.navbar .navbar-brand {
  color: #E50914;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link{
  color: #E50914;
}

.logout {
  cursor: pointer;
}

.auth-image {
  margin-right: 2em;
  width: 2.3em;
}
