<div class="contain-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000"
        *ngFor="let m of bannerMoviesData; let i=index" [ngClass]="{active:i===1}">
        <img src="https://image.tmdb.org/t/p/original/{{ m.backdrop_path }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{m.original_title}}</h2>
          <p>{{m.overview}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Trending ends-->

<div class="contain mt-3 mb-5 p-4">

  <!-- Trending -->
  <app-posters title="Trending Movies" [moviesList]="trendingMoviesData"></app-posters>

  <app-posters title="Comedy Movies" [moviesList]="comedyMoviesData"></app-posters>

  <app-posters title="Action Movies" [moviesList]="actionMoviesData"></app-posters>

  <app-posters title="Adventure Movies" [moviesList]="adventureMoviesData"></app-posters>

</div>

